body { font: 12px Arial;}

path {
  fill: none;
}

.line {
  stroke: steelblue;
  stroke-width: 2;
}

.axis {
  stroke-width: 2;
}

.coil {
  stroke: DimGrey;
  stroke-width: 1;
}

.helix {
  stroke: HotPink;
  stroke-width: 3;
}
.strand {
  stroke: Gold;
  stroke-width: 3;
}

.pngbutton {
  stroke: black;
  fill: white;
}

.svgbutton {
  stroke: black;
  fill: white;
}

.pngbutton.active {
  stroke: black;
  fill: black;
}

.svgbutton.active {
  stroke: black;
  fill: black;
}

.buttonText {
  fill: black;
}

.buttonText.active {
  fill: white;
}

.cutoff_line {
  stroke-width: 1;
  stroke: DimGrey;
  stroke-dasharray: 5, 5;
}

.cutoffText {
  fill: black;
}
